{% extends 'usuarios/base.html' %}
{% block conteudo %}
<form action="{% url 'listagem_usuarios' %}" method="post">
  {% csrf_token %}
  <div style="text-align: center" class="container">
    <h1>Cadastro de Usuários</h1>
    Nome <input name="nome" class="form-control-sm" type="text" />
    Idade <input name="idade" class="form-control-sm" type="text" />
    CPF <input name="cpf" class="form-control-sm" type="text" />
    <button class="btn btn-outline-success">Enviar</button>
  </div>
</form>
{% endblock %}